.signin {
    position: absolute;
    height: 70vh;
    width: 40vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    border: 2px solid grey;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 500px;
    min-height: 500px;
}

.signin .signin-welcome p {
    font-size: 24px;
    text-align: center;
}

.signin img {
    height: 75px;
    width: auto;
}

.signin .signin-input {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.signin .signin-input .input-box input {
    width: 90%;
    border: 0;
    outline: 0;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.signin .signin-input .input-box {
    width: 90%;
    border: 0;
    outline: 0;
    border-bottom: 2px solid grey;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 15px 10px;
    margin: 15px;
    z-index: -1;
}

.signin .signin-input .input-box:focus {
    border-bottom: 2px solid var(--site-color);
}

.signin-button {
    cursor: pointer;
    border: 2px solid var(--site-color);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 25px;
    padding: 10px 30px;
    margin-top: 15px;

}

.signin .button {
    display: flex;
    justify-content: center;
}

input:-internal-autofill-selected {
    background-color: white !important;
}